.row
  .col-md-6.col-md-offset-3.search-field
    input.form-control(type="text", placeholder="Search a file", ng-model="fileFilter")
  .col-md-8.col-md-offset-2
    .list-group
      a.list-group-item(ng-cloak="", ng-href="{{computePackUrl(file)}}", ng-repeat="file in bot.fileSet | filter:fileFilter")
        | {{ file.name }}
        span.badge {{ file.packId }}