// TODO *** Must have a way to import this directly from bootstrap
@brand-primary: darken(#428bca, 6.5%);
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

@gray-border: #ddd;
@gray-hover: #f5f5f5;

body {
	margin:0;
  color: #5C5C5C;
  font-family: 'PT Sans', Helvetica, serif;
  font-size: 14px;
  background-color: #F5F5F5;
}

#index {
  background-color: #fff;
}

.navbar-brand {
  background: url("/img/icon.png") no-repeat 0 11px;
  background-size: 30px 30px;
}

body header nav {
  width: 100%!important;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  border: none;
}

body header nav .navbar-nav li.login a {
  border: 1px solid #D8D8D8;
  margin: 10px 0 10px 20px;
  padding: 4px 13px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.content {
  padding: 90px 0 0 0;
}

main .masthead {
  margin-left: auto;
  margin-right: auto;
}

footer .container {
  padding: 0;
}

footer span {
  display: block;
  padding: 15px 0;
}

footer .xdcc-webapp-links {
  position: relative;
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}

footer .xdcc-webapp-links li {
  display: inline-block;
}

footer .xdcc-webapp-links li a {
  display: block;
  padding: 14px 20px;
  color: #5C5C5C;
  text-decoration: none;
}

.bot-list-group {
  margin-top: 10px;
}

.bot-list-group .list-group-item {
  border-radius: 4px;
  border: none;
}

body footer ul.xdcc-webapp-links li a.fr {
  background: url(/img/FR_flag.png) no-repeat center 15px;
}

body footer ul.xdcc-webapp-links li a.en {
  background: url(/img/US_flag.png) no-repeat center 15px;
}

@media not all, not all, only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (min-resolution: 1.5dppx) {
  body footer ul.xdcc-webapp-links li a.fr {
    background: url(/img/FR_flag-retina.png) no-repeat center 15px;
    background-size: 21px 15px;
  }

  body footer ul.xdcc-webapp-links li a.en {
    background: url(/img/US_flag-retina.png) no-repeat center 15px;
    background-size: 21px 15px;
  }
}

body footer ul.xdcc-webapp-links li a.en,
body footer ul.xdcc-webapp-links li a.fr {
  text-indent: -4000px;
  width: 21px;
}

.pack-list-group {
  margin-top: 10px;
}

.pack-row {
  display: table;
  width: 100%;
  padding: 12px 0;
}

.pack-row:hover {
  background-color: @gray-hover;
}

.pack-row:not(:first-child) {
  border-top: 1px solid @gray-border;
}

.pack-row div {
  float: none;
}

.pack-action {
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
}

.pack-row:hover .pack-action {
  visibility: visible;
}

.pack-action .btn:not(:first-child) {
  margin-left: 2px;
}

.pack-id {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}

.pack-bot-name {
  display: table-cell;
  vertical-align: middle;
}

.pack-name {
  display: table-cell;
  vertical-align: middle;
}

.current-pack {
  margin-top: 10px;
  display: table;
  width: 100%;
  padding: 12px 0;
  background-color: @brand-primary;
  color: #ffffff;
  border-radius: 4px;
}
